/* Variables */
:root {
	--te-body-font: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
	--te-normal: 400;
	--te-bold: 700;
	--te-header-font: var(--te-body-font);
	--te-text-color: #000001;
	--te-header-color: var(--te-text-color);
	--te-link-color: #1779ba;
	--te-button-color: var(--te-link-color);
}

/* Body */
body {
	font-family: var(--te-body-font);
	color: var(--te-text-color);
	font-weight: var(--te-normal);
	line-height: 1.6;
	font-size: 16px;
}

p {
	margin-top: 0;
	margin-bottom: 25px;
}

p.large {
	font-size: 20px;
}

a,
a:visited {
	color: var(--te-link-color);
}

/* Headers */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	margin-top: 0;
	font-family: var(--te-header-font);
	font-weight: var(--te-bold);
	color: var(--te-header-color);
	line-height:  1.4;
	margin-bottom: 20px;
}

h1, .h1 {
	font-size: 48px;
}
h2, .h2 { 
	font-size: 40px;
}
h3, .h3 { 
	font-size: 32px;
}
h4, .h4 { 
	font-size: 24px;
}
h5, .h5 { 
	font-size: 20px;
}
h6, .h6 { 
	font-size: 18px;
}

/* Buttons */
a.button {
	box-sizing: border-box;
	display: inline-block;
	border: none;
	text-align: center;
	text-decoration: none;
	line-height: 1;
	padding: 12px 25px;
	font-size: 16px;
	font-weight: bold;
	color: #FFF;
	background-color: var(--te-button-color);
	text-transform: uppercase;
	margin-bottom: 5px;
	border: 2px solid transparent;
}

a.button.hollow {
	background:  inherit;
	border-color: var(--te-button-color);
	color: var(--te-button-color);
}

.button[data-mce-selected]{
	padding: 12px 25px !important;
	margin: 0 !important;
	margin-bottom: 5px !important;
	border-radius: 0 !important;
}

a.text-button {
	color: var(--te-link-color);
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: underline;
}

ul.checkmarks {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
ul.checkmarks li {
	padding-left: 35px;
	margin-bottom: 25px;
}
ul.checkmarks li::before {
	content: url('data:image/svg+xml,%3Csvg version="1.1" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 16 16"%3E%3Ctitle%3Echeck%3C/title%3E%3Cpath d="M13.5 2l-7.5 7.5-3.5-3.5-2.5 2.5 6 6 10-10z" fill="%23000000"%3E%3C/path%3E%3C/svg%3E');
	display: block;
	float: left;
	text-align: center;
	width: 20px;
	height: 20px;
	margin-left: -35px;
	padding-top: 3px;
}

.no-bottom-margin>* {
	margin-bottom: 0;
}