// Post filter
.post-filter-label {
	font-weight: bold;
	margin-bottom: 5px;
}
form#post-filter {
	display: flex;
	.select-container{
		margin-right: 5px;
		select {
			min-width: 200px;
			margin-bottom: 0;
		}
	}
	.button {
		margin-bottom: 0;
	}
}

.post-list-container {
	@include deduct-padding(.5);
}

.post-item {
	@include clean-last-child;
	@include vertical-margin(.5, false, true);
	display: block;
	color: $body-font-color;
	text-decoration: none;
	&:hover {
		color: $body-font-color;
	}
}